.page {
  width: 123%;
  padding: 20px;
  background: #e8e8e8;
  min-height: 100vh;
}

.container {
  background: rgb(39, 18, 18);
  padding: 55px;
  width: 900%;
  max-width: 1100px;
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.customer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-bottom: 20px;
}

.customer-grid input,
textarea {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 6px;
  width: 100%;
}

.table-wrapper {
  overflow-x: auto;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

table input {
  width: 90%;
  padding: 5px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.add-btn {
  padding: 8px 15px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 25px;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.summary {
  background: #424141;
  padding: 15px;
  border-radius: 8px;
  margin-top: 15px;
}

.summary .grand {
  font-weight: bold;
  font-size: 18px;
}

.save-btn {
  margin-top: 15px;
  background: #ff7f27;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
