.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #020124;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0 20px;
  box-shadow: 0 2px 8px rgba(45, 45, 196, 0.3);
}

.Navbar h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #007bff;
  letter-spacing: 1px;
  text-shadow: 0 0 10px #0fcd;

}

/* Links */
.Navbar ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.Navbar ul li {
  list-style: none;
}

.Navbar ul li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #bbb;
  transition: all 0.3s ease;
}

.Navbar ul li a:hover {
  color: #007bff;
  transform: scale(1.2);
}

/* Responsive */
@media (max-width: 480px) {
  .Navbar {
    flex-direction: column;
    height: auto;
    padding: 10px;
    gap: 10px;
  }

  .Navbar ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
